<!DOCTYPE html>
<html>
  <head>
    <title>Taming of The Brew</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name=viewport content="width=600">
  </head>
  <body>
  <center>
    <h1>Taming of The Brew</h1>
      <ul>
        <a href="#" title="Sign Up">Sign Up</a>
      </ul>

      <h2>How To Use This App</h2>
        <p>Identify your beer preferences through the chart below. <br/>Select the flavors you love most and enjoy the perfect brew.</p>
          
        <div id="container">

            <!-- flavor wheel  -->

        </div>

        <button type="submit">Give Me a Brew</button>
    </center>

      <!-- Results -->
      <center>
      <h2>Results</h2>
        <h3>Based on that criteria, We suggest the following:</h3>
          <h4>
            <div class="beer">Beer: </div> 
            <div class="brewery">Brewery: </div> 
            <div class="tatse">Taste: </div> 
            <div class="calories">Calories: </div> 
            <div class="abv">ABV: </div> 
            <div class="ibu">IBU: </div> 
          </h4>
      </center>
    <script src="/js/scripts.js"></script>
  </body>
</html>
