<!DOCTYPE html>
<html>
  <head>
    <title>Taming Of The Brew</title>
    <link rel="icon" href="/img/beerIcon.gif">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name=viewport content="width=600">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  </head>
  <body>
    <div class="container">
    <span>
      <div id="header"></div>
      <h1 id="main-title">Taming of the</h1>
    </span>



<!--
      <nav>
        <button type="signup"><a href="#" title="Sign Up">Sign Up</a></button>
      </nav> -->







      <h2 class="instruct">What'll it be?</h2>
        <p>Choose your beer preferences with the chart below. <br/>Select the flavors you love most to enjoy the perfect brew.</p>

          <!-- flavor wheel  -->

      <div id="chart" style='margin-left:20%; margin-top:20%'>

        <script src="http://d3js.org/d3.v3.js"></script>
        <script src="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.js"></script>



  </div>






<span id="chart-area"></span>



    <!-- Results -->
    <center class="hidden">
      <h2>Try one of these:</h2>
      <div class="beers-container"></div>
    </center>

</div>

    <script src="/js/slidey.js"></script>
    <script src="/js/notSlidey.js"></script>
    <script src="/js/scripts.js"></script>

  </body>
</html>
