<!DOCTYPE html>
<html>
  <head>
    <title>Taming of The Brew</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name=viewport content="width=600">
  </head>
  <body>

    <center>
      <h1>Taming of The Brew</h1>
      <nav>
        <a href="#" title="Sign Up">Sign Up</a>
      </nav>

      <h2 class="instruct">How To Use This App</h2>
        <p>Identify your beer preferences with the chart below. <br/>Select the flavors you love most and enjoy the perfect brew.</p>
        
          <!-- flavor wheel  -->

        <div id="container">
          
          <script src="http://d3js.org/d3.v3.js"></script>
          <script src="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.js"></script>
          <script src="/js/chart.js"></script>

        </div>

        <button type="submit">Brew Me</button>
    </center>

    <!-- Results -->
    <center>
      <h2>Results</h2>

      <h3>Based on that criteria, We suggest the following:</h3>
      <div>
        <div class="beer">Beer: </div> 
        <div class="brewery">Brewery: </div> 
        <div class="tatse">Taste: </div> 
        <div class="calories">Calories: </div> 
        <div class="abv">ABV: </div> 
        <div class="ibu">IBU: </div> 
      </div>
    </center>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script src="/js/scripts.js"></script>

  </body>
</html>
