<!DOCTYPE html>
<html>
  <head>
    <title>Taming of The Brew</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
  <center>
    <h1>Taming of The Brew</h1>
      <ul>
        <a href="#" title="Sign Up">Sign Up</a>
      </ul>

      <h2>How To Use This App</h2>
        <p>Identify your beer preferences through the chart below. <br/>Select the flavors you love most and enjoy the perfect brew.</p>
          
        <div id="container">

            <!-- flavor wheel  -->

        </div>

        <button type="submit">Give me a Brew</button>
    </center>

    <script src="/js/scripts.js"></script>
  </body>
</html>
