<!DOCTYPE html>
<html>
  <head>
    <title>Taming of The Brew</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name=viewport content="width=600">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  </head>
  <body>

    <center>
      <h1>Taming of The Brew</h1>
      <nav>
        <a href="#" title="Sign Up">Sign Up</a>
      </nav>

      <h2 class="instruct">How To Use This App</h2>
        <p>Identify your beer preferences with the chart below. <br/>Select the flavors you love most and enjoy the perfect brew.</p>

          <!-- flavor wheel  -->

      <div id="container">

        <script src="http://d3js.org/d3.v3.js"></script>
        <script src="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.js"></script>


      <div data-role="main" class="ui-content">
      <form method="post">
      <ul>

        <!-- ui-slider-handle ui-btn ui-shadow -->

        <li><label for="crisp">Crisp:</label>
          <!-- <input type="range" data-show-value="true">
          <input type="range" data-popup-enabled="true"> -->
          <input type="range" data-popup-enabled="true" name="crisp" id="crisp" value="5" min="0" max="10">
        </li>

        <li><label for="hop">Hop:</label>
          <input type="range" name="hop" id="hop" value="5" min="0" max="10">
        </li>

        <li><label for="nut">Nut:</label>
        <input type="range" name="nut" id="nut" value="5" min="0" max="10">
        </li>

        <li><label for="fruit">Fruit:</label>
        <input type="range" name="fruit" id="fruit" value="5" min="0" max="10">
        </li>

        <li><label for="cream">Cream:</label>
        <input type="range" name="cream" id="cream" value="5" min="0" max="10">
        </li>

        <li><label for="dry">Dry:</label>
        <input type="range" name="dry" id="dry" value="5" min="0" max="10">
        </li>

        <li><label for="sweet">Sweet:</label>
        <input type="range" name="sweet" id="sweet" value="5" min="0" max="10">
        </li>

        <li><label for="bitter">Bitter:</label>
        <input type="range" name="bitter" id="bitter" value="5" min="0" max="10"></li>

        <li><label for="spicy">Spicy:</label>
        <input type="range" name="spicy" id="spicy" value="5" min="0" max="10">
        </li>

        <li><label for="sour">Sour:</label>
        <input type="range" name="sour" id="sour" value="5" min="0" max="10">
        </li>

      </ul>
        <button type="submit" data-inline="true">Brew Me</button>

      </form>
    </div>
  </div>


    </center>

    <!-- Results -->
    <center>
      <h2>Results</h2>

      <h3>Based on that criteria, We suggest the following:</h3>
      <div>
        <div class="beer">Beer: </div>
        <div class="brewery">Brewery: </div>
        <div class="tatse">Taste: </div>
        <div class="calories">Calories: </div>
        <div class="abv">ABV: </div>
        <div class="ibu">IBU: </div>
      </div>
    </center>

  <script src="/js/chart.js"></script>
    <script src="/js/scripts.js"></script>

  </body>
</html>
