<!DOCTYPE html>
<html>
  <head>
    <title>Taming Of The Brew</title>
    <link rel="icon" href="/img/beerIcon.gif">
    <link rel="stylesheet" href="/css/remodal.css">
    <link rel="stylesheet" href="/css/remodal-default-theme.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name=viewport content="width=600">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

  </head>
  <body>

    <div id="first">
      <div class="container">
        <h1 id="main-title">Taming of the</h1>

        <svg id="scroll" x="0px" y="0px" viewBox="0 0 41 23.3">
          <g>
          	<g>
          		<path d="M0.7,4.3c6,6,12.1,12.1,18.1,18.1c2.3,2.3,5.8-1.3,3.5-3.5c-6-6-12.1-12.1-18.1-18.1C2-1.5-1.5,2,0.7,4.3L0.7,4.3z"/>
          	</g>
          </g>
          <g>
          	<g>
          		<path d="M22.5,22.5c5.9-5.9,11.9-11.9,17.8-17.8c2.3-2.3-1.3-5.8-3.5-3.5C30.8,7.1,24.9,13.1,19,19C16.7,21.3,20.2,24.8,22.5,22.5
          			L22.5,22.5z"/>
          	</g>
          </g>
          </svg>

      </div>

    </div>



    <div id="second">
      <div id="chart" style="margin-left:7%; margin-top:10%">
      <span id="chart-area"></span>
      <button id="submit-button">Brew Me</button>


    </div>





      <h2 class="instruct">What'll it be?</h2>
        <p>Choose your beer preferences with the chart below. <br/>Select the flavors you love most to enjoy the perfect brew.</p>

          <!-- flavor wheel  -->



        <script src="http://d3js.org/d3.v3.js"></script>
        <script src="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.js"></script>











    <!-- Results -->
    <center class="hidden">
      <h2>Try one of these:</h2>
      <div class="beers-container"> </div>
    </center>
</div>


    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/remodal.js"></script>
    <script src="/js/slidey.js"></script>
    <script src="/js/notSlidey.js"></script>
    <script src="/js/scripts.js"></script>
    <script id="beer-template"type="text/x-handlebars-template">
      <div class="beer-container">
        <div class="beer-name">{{name}}</div>
        <div class="brewery">{{brewery}}</div>
        <div class="abv">{{nutritional_value.abv}}</div>
        <div class="ibu">{{nutritional_value.ibu}}</div>
        <div class="calories">{{nutritional_value.calories}}</div>
        <div id="{{tasteMapId}}"></div>
        <button type="button" class="info" search="{{name}}">get more info!</button>
      </div>
    </script>
    <script id="moreInfo-template"type="text/x-handlebars-template">
      <h1>{{name}}<h1>
      <img src="{{beer_label}}"/>
      <div>{{abv}}</div>
      <div>{{beer_style}}</div>
      <div>{{beer_description}}</div>
    </script>

  </body>
</html>
