body{
  background-color: #F9D500;
}

.container{
  width: 80%;
  margin-left: 10%;
}

#header{
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background:repeating-linear-gradient(
  -45deg,
  white,
  white 5px,
  black 5px,
  black 10px
);
  position: absolute;
  z-index: -1;

}

#main-title{
  font-family: 'Pacifico', cursive;
  font-size: 4.5em;
  color: #F94700;
  animation-duration: 1.5s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*div {
  display: block;
  padding: 10px;
  font-size: 25px;
}*/

div#container {
  position: center;
}

h2, h3, h4, p {
  padding: 15px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 1s;
}

a:hover {
  color: rgba(93, 255, 243, 0.76);
  -webkit-transition: all 1s;
}

circle:hover{
  cursor: pointer;
}


h2.instruct {
  padding: 0px;
}

button {
  cursor: pointer;
  font-size: 25px;
  -webkit-transition: all 1s;
  background-color: white;
}

button:hover {
  color: rgba(93, 255, 243, 0.76);
  -webkit-transition: all 1s;
}

/*Minimal CHART*/
/*.radar-chart .area {
  fill-opacity: 0.7;
}

.radar-chart.focus .area {
  fill-opacity: 0.3;
}

.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}

.area.flavors, .flavors .circle {
  fill: #FFD700;
  stroke: none;
}*/


/*#############################*/
/*Media Queries*/
/*#############################*/
/*iPhone 6*/
@media screen and (max-width: 700px) {
  /*body {
    border: 7px solid black;
  }*/

  #header {
    width: 125%;
    height: 120px;
  }

  h1, h2, h3, h4, p {
    padding: 25px;
    font-size: 35px;
  }

  button {
    font-size: 43px;
    margin-left: 42%;
    margin-top: 10%;
  }

}

/*iPhone 5*/
@media screen and (max-width: 600px) {
  body {
    /*border: 7px solid black;*/
  }

  h1, h2, h3, h4, p {
    padding: 25px;
    font-size: 35px;
  }

  button {
    font-size: 43px;
    margin-left: 42%;
    margin-top: 10%;
  }

  #header {
    width: 125%;
    height: 120px;
  }

}
