body{
  margin: 0;
  background-color: #F8AC60;
}

h1 {
  padding: 15px;
  font-size: 55px;
  border-style: dotted;
  display: inline-block;
  background-color: rgb(168, 190, 255);
}

div {
  display: block;
  padding: 10px;
  font-size: 25px;
}

div#container {
  position: center;
}

h2, h3, h4, p {
  padding: 15px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 1s;
}

a:hover {
  color: rgba(93, 255, 243, 0.76);
  -webkit-transition: all 1s;
}

h2.instruct {
  padding: 0px;
}

button {
  cursor: pointer;
  font-size: 25px;
  -webkit-transition: all 1s;
  background-color: white;
}

button:hover {
  color: rgba(93, 255, 243, 0.76);
  -webkit-transition: all 1s;
}

/*Minimal CHART*/
.radar-chart .area {
  fill-opacity: 0.7;
}

.radar-chart.focus .area {
  fill-opacity: 0.3;
}

.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}

.area.flavors, .flavors .circle {
  fill: #FFD700;
  stroke: none;
}

.draggable {
  margin-left: 30%;
  width: 60%;
}

form {
  display: inline-block;
}

/*#############################*/
/*Media Queries*/
/*#############################*/
/*iPhone 6*/
@media screen and (max-width: 700px) {
  body {
    border: 7px solid black;
  }

  h1, h2, h3, h4, p {
    padding: 30px;
  }

  button {
    font-size: 30px;
  }

  .draggable {
    margin-left: 13%;
    width: 75%;
  }
}

/*iPhone 5*/
@media screen and (max-width: 600px) {
  body {
    border: 7px solid black;
  }

  h1, h2, h3, h4, p {
    padding: 30px;
  }

  button {
    font-size: 30px;
  }

  .draggable {
    margin-left: 13%;
    width: 75%;
  }
}

