body{
  box-sizing: border-box;
  font-family: futura;
}

.container{
  width: 80%;
  margin-left: 10%;

}

.brewcontainer {
    height: 0;
    width: 55%;    /* specify any width you want (a percentage value, basically) */
    margin-left:32%;
    margin-top: -19%;
    /* apply a padding using the following formula */
    /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
    position: absolute;    /* create positioning context for svg */
}

#beer-me{
  height: 0;
  width: 15%;    /* specify any width you want (a percentage value, basically) */

  /* apply a padding using the following formula */
  /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
  position: absolute;
  margin-top: -18%;
  margin-left: 92%;

}
path.beer-icon:hover{
  cursor: pointer;
  fill: #ED6939;
}


path.brew{
  -webkit-animation: dash 4s linear forwards;
  animation: dash 4s linear forwards;
  animation-delay: 1.5s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}

@-webkit-keyframes dash {

  to {
      stroke-dashoffset: 0;
    }
}
@keyframes dash {

  to {
      stroke-dashoffset: 0;
    }
}

#first{
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ED6939;

}

.beer-list-head{
  font-size: 2em;
  text-align: center;
  color: #2D2A73;
}

#scroll{
  position: relative;
  margin-left: 45%;
  margin-top: 22%;
  width: 7%;
  fill: white;
}

#scroll:hover{
  cursor: pointer;
  fill: #2D2A73;
}

svg{

  margin-top: 0px;
  padding-top: 2%;

}
#second {
  width: 100%;
  height: 850px;
  left: 0;
  margin-top: 780px;
  background: rgb(244, 241, 231);
  position: absolute;
  display: flex;
  flex-direction: row;
}
.a-beer-container{
  border: 1px solid #2D2A73;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;
  position: relative;
}

#left {
  width: 50%;
  /*position: fixed;*/
}

#chart{
  width: 80%;    /* specify any width you want (a percentage value, basically) */
  margin-top: 5%;
  margin-left:5%;
  padding: 2%;
  padding-right: 5%;
  /* apply a padding using the following formula */
  /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
  position: relative;    /* create positioning context for svg */
}


#beers-holster{
  /*margin-left: 60%;*/
  margin-left: 10%;
  width: 40%;
  overflow: scroll;
  text-align: center;
  color: #2D2A73;
}



.section{
  display: inline-block;
}

#main-title{
  font-family: 'Pacifico', cursive;
  margin-top: 18%;
  font-size: 3.5em;
  color: white;
  animation-duration: 2s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 150%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*div {
  display: block;
  padding: 10px;
  font-size: 25px;
}*/

div#container {
  position: center;
  position: relative;
}

div .beers-container {
  position: absolute;
}

h2, h3, h4, p {
  padding: 15px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 1s;
}

a:hover {
  color: rgba(93, 255, 243, 0.76);
  -webkit-transition: all 1s;
}

circle:hover{
  cursor: pointer;
}


h2.instruct {
  padding: 0px;
}

button {
  cursor: pointer;
  font-size: 25px;
  -webkit-transition: all 1s;
  background-color: white;
}

button:hover {
  color: rgba(93, 255, 243, 0.76);
  -webkit-transition: all 1s;
}

/*Minimal CHART*/
/*.radar-chart .area {
  fill-opacity: 0.7;
}

.radar-chart.focus .area {
  fill-opacity: 0.3;
}

.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}

.area.flavors, .flavors .circle {
  fill: #FFD700;
  stroke: none;
}*/


/*#############################*/
/*Media Queries*/
/*#############################*/
/*iPhone 6*/
@media screen and (max-width: 700px) {
  body {
    background-color: #ED6939;
  }
  div.a-beer-container {
    width: 35%;
    display: block;
    margin-top: 5%;
    margin-right: 5%;
    /*position: relative;*/
    /*padding: 30%;*/
    /*text-align: center;*/
  }

  #beers-holster {
    margin-left: -48%;
    width: 100%;
    overflow: scroll;
    margin-bottom: -80%;
    margin-top: 110%;
  }

  #main-title {
    padding-bottom: 40%;
  }

  div#chart {
    margin-top: 60%;
  }

  #first, #second {
    width: 110%;
  }

  #second {
    margin-top: 1260px;
    padding-top: 45%;
    padding-bottom: 60%;
  }

  #header {
    width: 125%;
    height: 120px;
  }

  svg {
    margin-top: -70%;
    padding-top: 7%;
    margin-bottom: 7%;
    margin-left: 6%;
  }

  h1, h2, h3, h4, p {
    padding: 25px;
    font-size: 35px;
  }

  button {
    font-size: 43px;
    margin-left: 15%;
    margin-top: 10%;
  }

  button.info {
    font-size: 35px;
    margin-left: 0%;
    margin-top: 15%;
    margin-bottom: 3%;
  }

  div.beer-name, .brewery, .abv, .ibu, .calories {
    font-size: 25px;
    /*padding: 5px;*/
  }

  .legend {
    padding-right: 2%;
  }

}

/*iPhone 5*/
@media screen and (max-width: 600px) {
  body {
    background-color: #ED6939;
  }

  div.a-beer-container {
    width: 35%;
    display: block;
    margin-top: 5%;
    margin-right: 5%;
    /*position: relative;*/
    /*padding: 30%;*/
    /*text-align: center;*/
  }

  #beers-holster {
    margin-left: -48%;
    width: 100%;
    overflow: scroll;
    margin-bottom: -80%;
    margin-top: 110%;
  }


  div#chart {
    margin-top: 60%;
  }

  #first, #second {
    width: 110%;
  }

  #second {
    margin-top: 1260px;
    padding-top: 45%;
    padding-bottom: 60%;
  }

  #main-title {
    padding-bottom: 40%;
  }

  h1, h2, h3, h4, p {
    padding: 25px;
    font-size: 35px;
  }

  button {
    font-size: 43px;
    margin-left: 15%;
    margin-top: 10%;
  }

  #header {
    width: 125%;
    height: 120px;
  }

  svg {
    margin-top: -70%;
    padding-top: 7%;
    margin-bottom: 7%;
    margin-left: 6%;
  }

  div.beer-name, .brewery, .abv, .ibu, .calories {
    font-size: 30px;
    padding: 5px;
  }

}

.map-container{
  height: 500px;
  width: 500px;
}
